@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa+Ink&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
    line-height: 1.4;
}

img {
    max-width: 100%;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3), 
                0 6px 20px rgba(0, 0, 0, 0.15),
                0 6px 20px rgba(0, 0, 0, 0.7);
}

#gif {
    width: 60%;
    border-radius: 30px;
}

#tabuleiro {
    width: 600px;;
}
  
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    background: #ffcbf2;
    padding: 0;
    color: black;
}

#logo {
    display: flex;
    align-items: center;
    flex-direction: row;
    font-family: 'Italianno', cursive;
    margin: 10px 0px 0px 30px;
    font-size: 40px;
    text-shadow: 1.5px 1.5px #ced4da
}

.menu {
    display: flex;
    justify-content: row;
    list-style: none;
    gap: 30px;
    margin: 30px 40px 0px 0px;
    font-family: 'Roboto Slab', serif;
}

.menu a {
    color: black;
    text-transform: uppercase;
    font-style: initial;
    text-decoration: none;
    transition: 0.4s;
}

.show-menu-btn,.hide-menu-btn {
    transition: 0.4s;
    font-size: 30px;
    cursor: pointer;
    display: none;
}

.show-menu-btn i {
    margin: 30px 40px;
}

.menu a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover {
    color: #c965bb;
}

#chk {
    position: absolute;
    visibility: hidden;
}

/* Conteúdo da Página */

.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 20px 30px 20px;
}

#welcome {
    font-size: 70px;
    text-align: center;
    font-family: 'Italianno', cursive;
}

#welcome-text {
    font-size: 20px;
    text-align: center;
    font-family: 'Roboto', serif;
}

.game {
    width: 800px;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.game-info {
    width: 40%;
    padding: 20px 20px 20px 0px;
}

.game-about {
    width: 60%;
    padding: 20px 0px 20px 80px;
}

#game-text-info {
    font-size: 18px;
    text-align: justify;
    font-family: 'Roboto', serif;
}

#game-text {
    font-size: 18px;
    text-align: justify;
    font-family: 'Roboto', serif;
    text-indent: 1.5em;
}

#text {
    font-size: 20px;
    text-align: justify;
    font-family: 'Roboto', serif;
    width: 700px;
    text-indent: 1.5em;
    padding: 35px 30px 0px 30px;
}

#illustration-text {
    font-size: 20px;
    text-align: justify;
    font-family: 'Roboto', serif;
    width: 700px;
    text-indent: 1.5em;
    padding: 15px 30px 30px 30px;
}

#title {
    font-size: 40px;
    text-align: center;
    font-family: 'Aref Ruqaa Ink', serif;
    padding: 0px 30px 30px 30px;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.container {
	width: 100%;
	margin: 0 auto;
	padding: 0 2rem 2rem;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	margin: -1rem -1rem;
}

.gallery-item {
	margin: 1rem;
	box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
    border-radius: 20px;
	overflow: hidden;
}

.gallery-image {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 400ms ease-out;
}

.gallery-image:hover {
	transform: scale(1.15);
}

@supports (display: grid) {
	.gallery {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24rem, 0.5fr));
		grid-gap: 2rem;
	}

	.gallery,
	.gallery-item {
		margin: 0;
	}
}


/* Ajustes de Tela */

@media screen and (max-width:1080px) {
.show-menu-btn,.hide-menu-btn{
    display: flex;
}

.game {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100%;
}

.game-about, .game-info {
    padding: 20px;
    width: 100%;
}


.menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100vh;
    margin: 0px;
    background: #fff;
    right: -100%;
    gap: 20px;
    text-align: center;
    padding: 80px 0;
    line-height: normal;
    transition: 0.7s;
}

#logo {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    font-family: 'Italianno', cursive;
    margin: 15px 20px 0px 30px;
    font-size: 40px;
    text-shadow: 1.5px 1.5px #ced4da
}

#gif {
    width: 100%;
}

#text {
    width: 100%;
}

.menu a {
    display: block;
    padding: 20px;
}

.hide-menu-btn {
    position: absolute;
    top: 0px;
    float: left;
    margin: 30px 0px 0px 40px;
}

#chk:checked ~ .menu{
    right: 0;
}
}